<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="server" default="192.168.0.3" />
  <arg name="port" default="3883" />

  <arg name="uri1" default="radio://0/80/2M" />
  <arg name="frame1" default="crazyflie1" />
  <arg name="x1" default="0.25" />
  <arg name="y1" default="0" />
  <arg name="z1" default="0.5" />


  <arg name="uri2" default="radio://0/100/2M" />
  <arg name="frame2" default="crazyflie2" />
  <arg name="x2" default="0" />
  <arg name="y2" default="0.6" />
  <arg name="z2" default="0.65" />



  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <group ns="crazyflie1">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="crazyflie1" />
      <arg name="enable_logging" value="False" />
      <arg name="pitch_trim" value="-0.2" />
      <arg name="roll_trim" value="-0.0" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie_c1.launch">
      <arg name="frame" value="$(arg frame1)" />
    </include>

    <node name="pose" pkg="crazyflie_demo" type="demo1.py" output="screen">
      <param name="frame" value="$(arg frame1)" />
      <param name="x" value="$(arg x1)" />
      <param name="y" value="$(arg y1)" />
      <param name="z" value="$(arg z1)" />
    </node>

  </group>

  <group ns="crazyflie2">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri2)" />
      <arg name="tf_prefix" value="crazyflie2" />
      <arg name="enable_logging" value="False" />
      <arg name="pitch_trim" value="-0.12" />
      <arg name="roll_trim" value="-0.1" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie_c2.launch">
      <arg name="frame" value="$(arg frame2)" />
    </include>

    <node name="pose" pkg="crazyflie_demo" type="demo1.py" output="screen">
      <param name="frame" value="$(arg frame2)" />
      <param name="x" value="$(arg x2)" />
      <param name="y" value="$(arg y2)" />
      <param name="z" value="$(arg z2)" />
    </node>

  </group>

    <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
      <rosparam subst_value="true">
      server: $(arg server)
      port: $(arg port)
      update_frequency: 100.0
      frame_id: world
      use_server_time: false
      broadcast_tf: true
      refresh_tracker_frequency: 1.0 <!-- VRPN will add all trackers found on connection -->
      </rosparam>
     </node>



</launch>
